*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}
.hero-header{
    display: flex;
    flex-direction: column; /* Ensures content is arranged vertically */
    justify-content: space-between; /* Space between content and footer */
    min-height: 100vh; /* Ensures full viewport height */
    position: relative;
    background: #ffffff;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navlinks .current-page {
    color: #ff5733;
    font-weight: bold;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #EC6502;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;

}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
     color:#000000;
     margin-right: 2.5rem;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:1rem;
}
.images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.hoofd {
    max-width: 80px;
    height: auto;
    margin-bottom: 20px;
}
.logo2 {
    max-width: 45%;
    height: auto;
}
.hero-text{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero-text h5{
    color:#EC6502;
    font-size: 14px;
}
.hero-text h5 span{
    color:#EC6502;
    font-size: 16px;
}
.hero-text h1{
    color: #EC6502;
    font-size: 3rem;
}
.hero-text p{
    color: #000000;
    font-size: 1.2rem;

}
.btn.active{
    border-color: #EC6502;
}
.hero-text .social i{
    color: #000000;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#EC6502;
    transform: rotate(360deg);
}
#openContactForm {
    cursor: pointer;
}

 
.gallery {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top: 2%;
    font-weight: bold;
    color:#000;
}

.gallery-item {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    padding:10px;
    text-align:center;
    cursor: pointer;
    transition: box-shadow 0.7s ease; /* Smooth transition for the shadow effect */
}
.gallery-item img:hover,  .gallery-item video:hover {
    filter: grayscale(0%); /* Restore color */
}
.gallery-item img{
    filter: grayscale(100%); /* Black and white by default */
    transition: filter 0.5s ease; /* Smooth transition when hovering */
}
.gallery-item img, .gallery-item video {
    width:100%;
    height:auto;
    display:block;
    filter: grayscale(100%); /* Black and white by default */
    transition: filter 0.5s ease; /* Smooth transition when hovering */
}
/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensure it appears above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Background with transparency */
    overflow: auto; /* Allow scrolling if content overflows */
}

/* Modal content (carousel) */
.modal-content {
    position: absolute;
    top: 33.33%; /* Center the modal content vertically */
    left: 50%;
    transform: translate(-50%, -33.33%); /* Center horizontally */
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Limit the width on larger screens */
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    max-height: 90vh; /* Limit the modal height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Ensuring the image fits well in the modal */
.modal img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 70vh; /* Ensure image height doesn't exceed viewport height */
}

/* Close button */
.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover {
    color: #EC6502;
}

/* Navigation buttons (Next, Previous) */
.modal-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-controls button {
    background-color: #EC6502;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%; /* Responsive button width */
}

.modal-controls button:hover {
    background-color: #d55000;
}

/* Contact Form Popup Styling */
.contact-form-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.contact-form-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: relative;
}

.contact-form-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #EC6502;
}

.contact-form-content label {
    font-size: 14px;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.contact-form-content input,
.contact-form-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form-content .btn {
    width: 100%;
    background-color: #EC6502;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form-content .btn:hover {
    background-color: #d55000;
}

/* Close Button */
.contact-form-content .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.contact-form-content .close-btn:hover {
    color: #EC6502;
}
.oranje-balk {
    max-width: 100%;
    height: auto;
    bottom: 0;
}
.desktop-balk {
    width: 100%;
    max-width: 3842px; /* Max width equal to original image width */
    height: auto;
    display: block;
}
.mobile-balk {
    display: none;
}
/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
    .logo{
        display: none;
    }
    .logo2 {
        max-width: 90%;
    }
    nav .togglebtn{
        display: block;
    }
    .container .hero-pic{
        display: none;
        width: 149px;
        height: 237.5px;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        display: none;
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: auto;
        background-color: #ffffff;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
        display: block;
    }
    .column {
        max-width: 50%;
        padding: 0 5px;
    }
    .mobile-balk {
        width: 100%;
        max-width: 3842px; /* Max width equal to original image width */
        height: auto;
        display: block;
    }
    .desktop-balk {
        display: none;
    }

    .gallery-item img {
        filter: grayscale(0%); /* Black and white by default */
    }
    .gallery-item video {
        filter: grayscale(0%); /* Black and white by default */
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
    .column {
        max-width: 100%;
        padding: 0;
    }
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
    .modal-content {
        width: 95%; /* Take up most of the screen on smaller devices */
    }

    .modal-controls button {
        padding: 8px; /* Reduce padding for smaller buttons */
    }

    .modal img {
        max-height: 60vh; /* Reduce image height on smaller screens */
    }

    .modal .close {
        font-size: 24px; /* Make the close button smaller on small screens */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
    .modal img {
        max-height: 50vh; /* Further reduce image height for very small screens */
    }

    .modal .close {
        font-size: 20px; /* Smaller close button */
    }

    .modal-content {
        padding: 10px; /* Less padding for smaller screens */
    }
}